aioice
aiortc
altair
attrs
av
blinker
cachetools
certifi
cffi
charset-normalizer
click
coloredlogs
contourpy
cryptography
cycler
dnspython
filelock
flatbuffers
fonttools
fsspec
gitdb
GitPython
google-crc32c
humanfriendly
idna
ifaddr
Jinja2
jsonschema
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
narwhals==1.33.0
networkx==3.4.2
numpy
onnx
onnxruntime
onnxslim==0.1.48
opencv-python-headless
packaging==24.2
pandas==2.2.3
pillow==11.1.0
protobuf==5.29.4
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==19.0.1
pycparser==2.22
pydeck==0.9.1
pyee==13.0.0
pylibsrtp==0.11.0
pyOpenSSL==25.0.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
smmap==5.0.2
streamlit==1.44.0
streamlit-webrtc
sympy==1.13.1
tenacity==9.0.0
toml==0.10.2
torch==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.67.1
typing_extensions
tzdata==2025.1
ultralytics
ultralytics-thop
urllib3
watchdog
yolo-onnx @ git+https://github.com/trainyolo/YOLO-ONNX.git@9695526e4c89d8b8cd5520661d24be638c660cae
